In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('D:/Navyakeerthi/student-mat.csv')
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [6]:
len(df)

395

In [7]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [8]:
df['high_absenses'] = np.where(df['absences'] >= 10, 1, 0)

In [9]:
df['count']=1

In [10]:
df=df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [12]:
pd.pivot_table(
df,
values='count',
index=['grade_A'],
columns=['high_absenses'],
aggfunc=np.size,
fill_value=0)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [3]:
a=277
b=78
c=35
d=5

In [4]:
Pa=(c+d)/(a+b+c+d)
Pa

0.10126582278481013

In [5]:
Pb=(b+d)/(a+b+c+d)
Pb

0.21012658227848102

In [6]:
Paxb=(d)/(a+b+c+d)
Paxb

0.012658227848101266

In [7]:
Pab=(Paxb)/(Pb)
Pab

0.060240963855421686