In [2]:
import pandas as pd
df = pd.read_csv ('D:/Navyakeerthi/FDS/Docs/stats.csv')
print (df)

        Name  Salary Country
0        Dan   40000     USA
1  Elizabeth   32000  Brazil
2        Jon   45000   Italy
3      Maria   54000     USA
4       Mark   72000     USA
5       Bill   62000  Brazil
6       Jess   92000   Italy
7      Julia   55000     USA
8       Jeff   35000   Italy
9        Ben   48000  Brazil

In [3]:
mean1 = df['Salary'].mean()
mean1

53500.0

In [4]:
sum1 = df['Salary'].sum()
sum1

535000

In [5]:
max1 = df['Salary'].max()
max1

92000

In [6]:
min1 = df['Salary'].min()
min1

32000

In [7]:
count1 = df['Salary'].count()
count1

10

In [8]:
median1 = df['Salary'].median() 
median1

51000.0

In [9]:
mode1 = df['Salary'].mode()
mode1

0    32000
1    35000
2    40000
3    45000
4    48000
5    54000
6    55000
7    62000
8    72000
9    92000
dtype: int64

In [10]:
std1 = df['Salary'].std() 
std1

18222.391598128816

In [11]:
var1 = df['Salary'].var()  
var1

332055555.5555556

In [12]:
groupby_sum1 = df.groupby(['Country']).sum() 
groupby_sum1
groupby_count1 = df.groupby(['Country']).count()
groupby_count1

         Name  Salary
Country
Brazil      3       3
Italy       3       3
USA         4       4

In [13]:
skew1=df.skew(axis = 0, skipna = True) 
skew1

Salary    1.021551
dtype: float64